
#conteneur {
 margin-left: 500px;
  width: 800px;
  text-align: left;
    background-color: #fff;
    border-radius : 15px;

}

#text
{

	margin: 50px;
	margin-bottom: 100px;
}

	.typeReponseBlock
	{
		border-right :1px solid #ddd;
		border-left :1px solid #ddd;
		border-bottom :1px solid #ddd;
		padding:15px;
		display: none; /*On cache tous les div avec la class typeReponseBlock.*/
	}

	.btnAjouterQuestion{
		margin-top:20px;
	}
